{% extends 'base.html' %}
{% block title%} {{ title }} {% endblock %}
{% block content %}

<main id="main" class="main">
  <section class="dashboard">
    <div class="row">
      <!-- Lightning Section -->
      <div class="col-xxl-4 col-xl-4 mb-3">
        <div class="card info-card customers-card h-100" style="border-radius: 35px;">
          <div class="card-body d-flex">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-lightbulb"></i>
            </div>
            <div class="d-flex align-items-center ml-3">
              <h5 class="card-title ml-5 bg"> Lightning</h5>
            </div>
          </div>
          <div class="m-1 bg-" style="background-color: #4B515D; border-radius: 35px;">
            <div class="bg-primar p-2 m-3 d-flex">
              Compound light
              <label class="toggle pl-5">
                <input id="light1" class="toggle-input" type="checkbox" />
                <span class="toggle-label" data-off="OFF" data-on="ON"></span>
                <span class="toggle-handle"></span>
              </label>
            </div>
            <div class="bg-primar p-2 m-3 d-flex">
              Compound light
              <label class="toggle">
                <input id="light2" class="toggle-input" type="checkbox" />
                <span class="toggle-label" data-off="OFF" data-on="ON"></span>
                <span class="toggle-handle"></span>
              </label>
            </div>
            <div class="bg-primar p-2 m-3 d-flex">
              Compound light
              <label class="toggle">
                <input id="light3" class="toggle-input" type="checkbox" />
                <span class="toggle-label" data-off="OFF" data-on="ON"></span>
                <span class="toggle-handle"></span>
              </label>
            </div>
            <div class="bg-primar p-2 m-3 d-flex">
              Compound light
              <label class="toggle">
                <input id="light4" class="toggle-input" type="checkbox" />
                <span class="toggle-label" data-off="OFF" data-on="ON"></span>
                <span class="toggle-handle"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-xl-4 ">
        <div class="card" style="color: #4B515D; border-radius: 35px; height:95%;">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1">Ilaro</h6>
              <h6>15:07</h6>
            </div>
            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> 13°C </h6>
              <span class="small" style="color: #868B94">Stormy</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                        40
                        km/h
                    </span></div>
                <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                        84%
                    </span>
                </div>
                <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                        0.2h
                    </span>
                </div>
            </div>
            <div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                            width="100px">
            </div>
        </div>

            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 ">

        <div class="card" style="color: #4B515D; border-radius: 35px; height:95%;">
            <div  class="card-body p-4">
                <hr>
            </div>
        </div>
    </div>


            </div>
            </div>
        </section>


    </main>

    <script>
      const toggleButtons = document.querySelectorAll('.toggle-input');
      
      toggleButtons.forEach(toggleButton => {
        toggleButton.addEventListener('click', event => {
          const lightId = event.target.id;
          const isLightOn = event.target.checked;
          
          fetch('/control_light', {
            method: 'POST',
            body: JSON.stringify({ lightId, isLightOn }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(response => response.json())
          .then(data => {
            console.log(data);
          })
          .catch(error => {
            console.error(error);
          });
        });
      });
    </script>
    

    {% endblock %}

